<div class="jumbotron">
	<h1><%= @user.name %></h1>
	<%= @user.email %>
	<div class="float-right">
		<%= image_tag @user.avatar.url, :size => "260x180"  %>
	</div>
</div>
<div>
	<%= link_to 'Back' , friendships_path, :class=> "btn btn-outline-primary"%>
</div>






